<!DOCTYPE HTML>
<html lang = "en">
<head>
  <!-- basic.html -->
  <title>Questy Quest</title>
  <meta charset = "UTF-8" />

<!--Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright|Open+Sans"
   rel="stylesheet">

  <!--Stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
   integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   <link rel="stylesheet" href="/styles/index.css">

</head>

<!--Game intro - company-->
<body>
    <div class="overlay"></div>
	<div class="scanline"></div>
<div class="wrapper">
<div class="content clearfix">

		<header class="site clearfix">
		<div class="col one">
			<img src="https://highpeakspureearth.com/wp-content/uploads/2013/11/2013-11-27-Flame-Poems.jpg"
			 alt="591 Industries" width="740" height="729" id="logo-v" />
		</div>
			<div class="col two">
				<h4>Fist to Five Games (tm) <br />
				<p>----------------------------------------</p>

				<p>(c)2018 Fist to Five Incorporated</p>

			</div>
		</header>

        <p>Fist to Five Games Presents</p>
		<p>QUESTY QUEST!</p>

		<p class="clear"><br /></p>



		<form>

            <a class="button" alt="" href="/signup">NEW USER</a>
			<a class="button" alt="" href="/signin">RETURNING USER</a>
		</form>


	</div>
</div>

</body>
</html>
